    <%= stylesheet_link_tag "style", :media => "all" %>
<header class="clearfix">
<div class="span21 loginhdr" >
  <div class="span5">
    <%= link_to(image_tag("/img/homepage_logo.png"),root_path) %>
  </div>  
  
</div>
  
</header>
<div id="errors_forgot_password">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span8">
        <h2> Forgot Password</h2>
        <h6>Please enter the login email address and we will send you a link to reset your password</h6><br>
        <%= render "unsigned/home/forgot_password_form" %><br/>
        <%= link_to "Back to login page", unsigned_home_index_path %>
      </div>
       <div class="span2">
       </div>
    </div>
  </div>
</div>


