<div class="span21" style="background-color:#415E9B; " >
 <div class="container" style="margin-top:5%;margin-bottom:9%;">
   <%= render "header" %>
   <div class="span21">
     <div class="row-fluid" style="display: table;table-layout: fixed">
       <%= link_to(image_tag("/img/Home_Emotions.png"), unsigned_search_index_path(:model_type => "Feed")) %>
     </div>
   </div>
   <%= render "footer" %>
 </div>
</div>


