<div class="span16 offset2">
  <center><h3 style="color: #17365D">Learn More</h3></center>
  <hr style = 'background-color:#4f81BD; border-width:0;  height:3px;   width:86%;' />
  <iframe src="http://prezi.com/embed/kw4hp8dduwa7/?bgcolor=ffffff&lock_to_path=1&autoplay=0&autohide_ctrls=0&features=undefined&disabled_features=undefined" width="850" height="440" frameBorder="0"></iframe>
<br><br>
 <p>To join the next big thing...  <%= link_to 'Sign Up', register_unsigned_home_index_path, :class => "btn btn-info " %></p>
</div>
