<%= stylesheet_link_tag "style", :media => "all" %>

<header class="clearfix">
<div class="span21 loginhdr" >
  <div class="span5">
    <%= link_to(image_tag("/img/homepage_logo.png"),root_path) %>
  </div>  
  
</div>
  
</header>

<br>
<div class="container">
  <div class="row-fluid">
   <center>
     <div class="span20">
       <% if @user %>
         <div id="form-holder"><%= render "change_password_form" %></div>
       <% else %>
         Request for a new code
       <% end %>
     </div>
   </center>
  </div>
</div>

