 <img src="/img/relayimg/comments_feed_page.png" />
 <div  class="comment-reviews" id="comment_mood_name_<%= feed.id  %>" >All comments &nbsp;-&nbsp;</div>
 <span id="comment_mood_count_<%= feed.id  %>">
   <%= feed.comments.count %>
 </span> 
<hr>
