    <!--  <div class="span2">
       <%#= image_tag "/img/Emotions/heart_rating.png", :title => "Stars Rating"  %>
     </div>
 -->
   <!--  <%# avg = feed.biased %>
      <div class="span19 span_content commentrating">
      <%# case avg %>
        <%# when 0 %>
        Avg. Rating:<b> 0 -<%#= " #{t(:Nasty)}"%> </b>
        <%# when 1 %>
        Avg. Rating:<b> 1 -<%#= "- #{t(:Creepy)}"%> </b>
        <%# when 2 %>
         Avg. Rating:<b> 2 -<%#= " #{t(:Gloomy)}"%> </b>
        <%# when 3 %>
         Avg. Rating:<b> 3 -<%#= " #{t(:Envy)}"%></b>
        <%# when 4 %>
        Avg. Rating:<b> 4 -<%#= " #{t(:Lovely)}"%></b>
        <%# when 5 %>
        Avg. Rating:<b> 5 -<%#= "#{t(:Happy)}"%></b>
        <%# else %>
          <span style="color: red"><%#= "Not Rated" %></span>
       <%# end %>
    </div>
 -->