<div class="span21" style="margin-top:20px"  id="footer" >
  <div class="container">
    <a href="/unsigned/home/about_us" class="home_page"> About us </a>
    <a href="/unsigned/home/terms" class="home_page"> Terms</a>
    <a href="/unsigned/home/privacy_cookies" class="home_page"> Privacy & Cookies </a>
    <a href="/unsigned/home/help_center" class="home_page"> Help Center </a>
    <a href="/unsigned/home/whats_new" class="home_page"> What's New </a>
    <a href="/unsigned/home/feed_back" class="home_page"> Feed back</a>
    <span class="home_page pull-left" style="color: #d3d3d3;" >© 2015 Wallclipping &nbsp</span>
   </div>
</div>
